<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
  <h2>Hello {{fullname}}! </h2>
  <p>you have successfully created your account.please click the button below to confirm your verification. </p>
<button style="background:#3630a3;color:white;border:none;height:40px,width:89px;text-align:center">
        <a href={{url}} style="text-decoration: none;color:white;">
            Confirm Email
        </a>
        </button>
       
</body>
</html>